// tabs
.tablist {

    // mobie first - block no visible
    display: none;

    // on breakpoint 860px change display and add styles
    // Flexbox: keep an aye on potential bugs: 
    // - http://caniuse.com/#search=flexbox
    // - https://github.com/philipwalton/flexbugs
    // - https://github.com/luisrudge/postcss-flexbugs-fixes
    // Check FALLBACK and see caniuae - postcss 
    @media screen and (min-width: $M) {
        display: table; // KEY ADD: fallback
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: flex-start;
        list-style: none;
        margin-left: 1em;
        margin-bottom: 0;

        // single tabs 
        &__tab {
            // KEY ADD : In IE10 the default value for flex is 0 0 auto rather than 0 1 auto as defined in the latest spec.
            display: table-cell; // KEY ADD: fallback
            display: flex;
            flex:  0 1 auto;
            margin: 0 0.1em;           

            &__link {
                border-top-left-radius: 25px;
                border-top-right-radius: 25px;
                background-color: $color-grey-2;
                color: $color-blue-2;
                cursor: pointer;
                font-size: 1.8em;
                font-weight: bold;
                padding: 0.2em 0.8em 0;
                text-decoration: none;

                &--active {
                    background-color: $color-white;
                }            
            }
        }

        .no-js & {
            display: none;
        } 
    }
}


