// panels container
.tabpanels {
    background-color: $color-white;
    border-radius: 25px;
    outline: 0;
    padding: 2em 0;

    @media screen and (min-width: $M) {
        padding: 0;
    }
}

// panels
.tabpanel {
    border-top: 1px solid $color-grey-1;
    clear: both;
    overflow: hidden;
    padding: 0 1.5em;

    &:first-child {
        border-top: 0;
    }

    @media screen and (min-width: $M) {
        display: none;
    }    

    &__image { 
        float: left;
        margin-right: 1em;
        width: 100px;
    }

    &__heading {
        color: $color-blue-2;
        font-size: 2em;
        font-weight: bold;
        margin-bottom: 0;
    }

    &__text {
        color: $color-grey-1; 
        font-size: 1.5em;
        margin: 0;
    }

    &--active {
        border-top: 0;
        display: block;
    }    
}
